@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    color: #1B1B19;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
p,
a {
    margin: 20px 0px;
}

p {
    line-height: 30px;
    word-spacing: 3px;
}

h1 {
    display: inline-block;
    position: relative;
    font-weight: 900;
}

h1::after {
    content: '';
    position: absolute;
    width: calc(300%/5);
    height: 5px;
    background-color: #EFA021;
    top: 110%;
    left: 0em;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.wrapper{
	width:100%;
	height:70vh;
	position:relative;
	color:#fff;
	text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;	
    background-color: #1B1B19;
}

.slider-wrap{
	width: 100%;
	height:100%;
	position:relative;
	overflow:hidden;
}

.slider-wrap ul.slider{
	width:100vw;
	height:100%;
	position:absolute;
	top:0;
	left:0;		
}

.slider-wrap ul.slider li{
	float:left;
	position:relative;
	width:100vw;
	height:100%;

    background: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;	
}

.slider-wrap ul.slider li .bg{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
    gap: 2rem;
    align-content: center;
    justify-items: center;
    text-align: left;
    padding: 0px 150px;
    color: #FFF;
}

/* .slider-wrap ul.slider li .background>div:first-child {
    opacity: 0%;
    transform: translateX(-200px);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider-wrap ul.slider li .background>div:last-child {
    opacity: 0%;
    transform: translateX(200px);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
} */

.slider-wrap ul.slider li button {
    display: inline-flex;
    height: 50px;
    font-weight: 600;
    align-items: center;
    color: #FFF;
    cursor: pointer;
    background-color: #1B1B19;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slider-wrap ul.slider li button i {
    font-size: 30px;
    margin-left: 15px;
}

.slider-wrap ul.slider li button:hover {
    background-color: #EFA021;
    color: #1B1B19;
}

.btns{
	position:absolute;
	width:50px;
	height:60px;
	top:50%;
	margin-top:-25px;
	line-height:57px;
	text-align:center;
	cursor:pointer;	
	background:#1B1B19;
	z-index:100;
	
	transition: all 0.1s ease;
}

.btns:hover{
	background:#EFA021;	
}


.next{right:-50px; border-radius:7px 0px 0px 7px;}
.previous{left:-50px; border-radius:0px 7px 7px 7px;}

.slider-wrap.active .next{right:0px;}
.slider-wrap.active .previous{left:0px;}

.pagination-wrap{
    position: relative;
    top: 95%;
	min-width:20px;
	margin-left: auto; 
	margin-right: auto;
	height:15px;
	position:relative;
	text-align:center;
}

.pagination-wrap ul {
	width:100%;
}

.pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:6px;
	height:6px;
    padding: 0px 30px;
	background:#fff;
	opacity:0.5;
    top:0;
}

.pagination-wrap ul li.active{
    width:6px;
    height:6px;
    background:#EFA021;
    opacity:1;      
}

.slider-wrap ul .bg div img:hover{
    transition: all 0.5s ease-in-out;
}

.slider-wrap ul .bg div img:hover{
    transform: scale(120%);
}

  
.slider-wrap ul, #pagination-wrap ul li{
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}

.background {
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 25, 0.65);
}



.contenido {
    margin: 50px 140px;
}

.contenido .centro {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.contenido .card-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
    gap: 2rem;
}

.card-2 div:last-child {
    align-self: center;
}

.card-2 button {
    display: inline-flex;
    font-weight: 600;
    align-items: center;
    color: #FFF;
    cursor: pointer;
    background-color: #1B1B19;
    border: none;
    border-radius: 10px;
    padding: 2px 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-2 button i {
    font-size: 30px;
    margin-left: 15px;
}

.card-2 button:hover {
    background-color: #EFA021;
    color: #1B1B19;
}

.contenido .card-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
    gap: 5rem;
    justify-items: center;
}

/* ANIMACION DE TARJETAS */

.contenido .card-3 .card-productos {
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding: 40px 50px;
}

.contenido .card-3 .card-productos:first-child {
    background: url(../img/card-1.webp);
    background-position: center;
    background-size: cover;
}

.contenido .card-3 .card-productos:nth-child(2) {
    background: url(../img/card-2.webp);
    background-position: center;
    background-size: cover;
}

.contenido .card-3 .card-productos:last-child {
    background: url(../img/card-3.webp);
    background-position: center;
    background-size: cover;
}

.contenido .card-3 .card-productos .card-productos-contenido {

    transform: translateY(100px);
    color: rgba(255, 255, 255, 0);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenido .card-3 .card-productos a {
    font-size: 35px;
    color: rgba(255, 255, 255, 0);
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.nuestras-marcas {
    margin-top: 25px;
}

.nuestras-marcas img {

    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nuestras-marcas img:hover {
    transform: scale(120%);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}



@media screen and (max-width: 1200px) {
    .slider-wrap {
        margin-top: 78px;
    }

    .slider-wrap ul.slider li .bg { 
        padding: 0 150px;
    }

    .slider-wrap ul .bg div:last-child {
        display: none;
    }

    .slider-wrap ul .bg div:first-child img{
        height: 100px;
    }

    .contenido {
        margin: 50px 40px;
    }

    .contenido .card-3 .card-productos .card-productos-contenido {

        transform: translateY(0px) !important;
        color: rgba(255, 255, 255, 1) !important;
        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .contenido .card-3 .card-productos a {
        font-size: 35px;
        color: rgba(255, 255, 255, 1) !important;
        transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    }

}

@media screen and (max-width: 700px){
    .slider-wrap ul.slider li .bg { 
        padding: 0 40px;
    }

    .slider-wrap ul .bg div:first-child img{
        height: 60px;
    }
}