header {
    background-color: #1B1B19;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 140px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    z-index: 1;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

header .logo {
    font-weight: 800;
    font-size: 2em;
    color: #353535;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;

    margin: 0 70px;
}

header .logo:hover {
    color: #EFA021;
}

header .navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
}

header .navbar li {
    list-style: none;
    margin: 0 10px;
}

header .navbar li a {
    text-decoration: none;
    color: #FFF;
    transition: 0.5s;
}

header .navbar li a:hover {
    color: #EFA021;
}

header .search-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

header .search-navbar button {
    display: flex;
    padding: 4px 10px;
    position: relative;
    left: -37px;
    border: none;
    background-color: #1B1B19;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

header .search-navbar button:hover {
    background-color: #EFA021;
}

header .search-navbar .bi {
    font-size: 15px;
}

header .search-navbar input {
    width: 70%;
    align-self: center;
    justify-self: center;
    padding: 5px;


    box-sizing: border-box;

    border: 3px solid #1B1B19;
    border-radius: 5px;
    outline: none;

    transition: all 0.5s;
}

header .search-navbar input:focus {
    border: 3px solid #EFA021;
}

.bi {
    font-size: 30px;
    color: #FFF;
}

.menuToggle {
    display: none;
}


@media screen and (max-width: 1200px) {

    header {
        position: fixed;
        display: flex;
        justify-content: space-between;
        padding: 10px 40px;
    }

    header .navbar {
        display: none;
    }

    header .search-navbar {
        display: none;
    }

    header .navbar.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
    }

    header .navbar li {
        list-style: none;
        margin-left: 0;
        margin-bottom: 20px;
    }

    header .navbar li a {
        font-size: 1.6em;
        color: #1B1B19;
    }

    .menuToggle {
        display: block;
    }

}